/*Tag selectors:*/
* {
  /*outline: 1px solid red;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
 background: darkgray;
}
body {
  display: block;
  height: 100vh;
  height: 100dvh;
  width: 95%;
  margin: auto;
}
article {
  height: 90% ;
}
header {
  height: 15%;
}
section {
  height: 85%;
}
footer {
  height: 10%
}

svg {
  background-color: grey; /*Prod code*/
}

#x-axis text { 
  transform:translateY(-30px);  
}
#y-axis text { 
  transform: translate(70px, 6px);
}
line {
  transform: rotate(180deg);
}


