/*Tag selectors:*/
* {
  /*outline: 1px solid red;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
 background: darkgray;
}
body {
  display: block;
  height: 100vh;
  height: 100dvh;
  width: 95%;
  margin: auto;
}
article {
  height: 90% ;
}
header {
  height: 15%;
}
section {
  height: 85%;
}
footer {
  height: 10%
}

svg {
  background-color: grey; /*Prod code*/
}

#tooltip {
  display: block;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  background: black;
  color: white;
}

