/*Tag selectors:*/
* {
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: block;
  height: 100vh;
  height: 100dvh;
  width: 95%;
  margin: auto;
}
article {
  height: 90% ;
}
footer {
  height: 10%
}
